<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="index" appConnect="local" components="{dmxAnimateCSS:{}}" -->
<div class="container-fluid header-top-margin py-5 ">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center align-self-center">
            <h1 class="text-center header-title  mb-4">Simplifique a gestão do seu Polo com a Spacefeed</h1>
            <p class="text-center header-headline mb-5">Uma plataforma completa para gerenciar colaboradores, projetos e suporte ao aluno! Experimente nossa plataforma gratuitamente durante o período Beta e ajude a moldar o futuro da sua franquia.</p>
            <button id="btn1" class="btn py-3 btn-dark">Participe do lançamento beta</button>
        </div>
    </div>
</div>


<meta name="ac:route" content="/">